/* Name: Jikke van den end_year
Student number: 10787593
This css file sets the style for the linked_views html file */

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.jumbotron.text-center p {
    font-size: 5vw;
    font-weight: bold;
    color: ghostwhite;
}
#linechart {
    max-width: 600px;
    max-height: 400px;
}
/* #hoi {
  content: "";
  opacity: 0.35;
} */
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #23415a;
  /* stroke: #6F2;
  stroke-width: 5px; */
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
