/* Name: Jikke van den end_year
Student number: 10787593
This css file sets the style for the linked_views html file */

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.jumbotron.text-center p {
    font-size: 5vw;
    font-weight: bold;
    color: ghostwhite;
}
#linechart {
    max-width: 600px;
    max-height: 400px;
}
.datamaps-legend {
    top: 0%;
}
.datamaps-legend h2 {
    font-size: 14pt;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
